:root {
    --primary-green: #022c22;
    --light-grey: #e2e8f0;
    --brown: #713f12;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   
}

header {
    height: 10vh;
}

.navbar--main {
    height: 90%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.button {
    height: 3em;
    width: 6em;
    font-size: 1.1em;
    background-color: white;
    color: var(--brown);
    border: none;
}

#content {
    flex-grow: 1;
    background-image: url(bakery.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.main { 
    flex-direction: column;
    color: white;
}

.main, .menu {
    position:absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 8em;
}

.main--headline {
    font-size: 1.5em;
}

