:root {
    --primary-green: #022c22;
    --light-grey: #e2e8f0;
    --brown: #713f12;
    --light-brown: rgba(113, 63, 18, 0.1);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   
}

header {
    height: 10vh;
}

.navbar--main {
    height: 90%;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.button {
    height: 3em;
    width: 6em;
    font-size: 1.1em;
    background-color: white;
    color: var(--brown);
    border: none;
}

#content {
    flex-grow: 1;
    background-image: url(bakery.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.main { 
    flex-direction: column;
    color: white;
}

.main, .menu {
    position:absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

/*header sizes*/
h1 {
    font-size: 8em;
}


h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}
 
h4 {
    font-size: 1em;
}

.main--headline {
    font-size: 1.5em;
}

.menu {
    width: 100%;
 }
 
.menu__content {
    height: 85%;
    width: 90%;
    background-color: white;
    border-radius: 16px;
    display: flex; 
    flex-direction: column;   
    overflow: hidden;
    margin: 4em 0em 4em 0em;
 
 
}
 
.menu__title {
    color: var(--brown);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}
 
 
.menu__grid {
    padding: 12px;
    height: 90%;
    background-color: var(--light-brown);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
 
}

.menu__category {
    
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    
}

.menu__category--title{
    padding-top: 1em;
    padding-bottom: 0.8em;
}

.menu__item {
    background-color: white;
    padding: 16px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
    margin-bottom: 8px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__item--desc {
    color: #525252;
}

.menu__item--price {
    width: 100%;
    font-weight: bold;
}

.menu__item p {
    font-size: 0.9em;
}
